{% extends 'base.html'%}

<!--Início do corpo da página que será utilizada como template-->
{% block conteudo %}

    <h2>Bem-vindo(a) ao Pets & Pets aonde time Pets & Pets!</h2>
    <p>Aqui, você faz parte de uma equipe apaixonada por cuidar dos nossos melhores amigos: os pets! Se você ama animais<br>
        e quer fazer a diferença na vida deles, está no lugar certo. Juntos, vamos oferecer o melhor atendimento, produtos<br>
        e serviços para garantir o bem-estar dos bichinhos e a felicidade dos seus tutores. Estamos ansiosos para crescer com você! 🐶🐱✨<br>
        Vamos criar um ambiente incrível, cheio de amor e dedicação!</p>



</p>


{% endblock conteudo %}